.products-list-title, .product-title, .invitation-title, .elements-title {
  text-align: center;
  color: #d4d4d4;
  background-color: #393939;
  padding: 6px;
  font-size: 14px;
}

.product-element-title, .element-title  {
  color: #5bafff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.product-element-description, .element-description {
  color: #9d9d9d;
  font-size: 12px;
  max-height: 120px;
  overflow-y: auto;
}

.element-info {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 16px;
}

.top-element-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: lightgray;
  margin-bottom: 8px;
}

.element-info button {
  font-size: 12px;
  text-transform: lowercase;
}

.product-element, .element {
  border-bottom: 1px solid #2d2d2d;
  padding: 6px 10px;
}

.selected {
  background-color: #232323;
}

.selected .element-title, .selected .element-title {
  color: #ffbc00;
}

.panel {
  padding: 20px;
}

.delete-link {
  color: #d33a36;
  font-size: 14px;
}

.error-info {
  text-align: center;
  padding: 6px;
  font-size: 14px;
}