<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          {{ 'accounts.password-form.title' | translate }}
        </div>
        <div class="card-body">
          <form #emailForm="ngForm" class="pt-2 pb-2 pl-lg-3 pr-lg-3 pl-md-3 pr-md-3 pl-sm-2 pr-sm-2" novalidate="true" (ngSubmit)="setPassword()">
            <div class="form-group">
              <label for="password">{{ 'accounts.password-form.password' | translate }}</label>
              <input id="password" name="password" type="password" class="form-control" required
                     placeholder="{{ 'accounts.password-form.password-hint' | translate }}" [(ngModel)]="password">
            </div>
            <div class="form-group mb-0 text-right">
              <button class="btn btn-secondary mt-2" type="submit" [disabled]="emailForm.invalid">{{ 'accounts.password-form.set-password-button' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p class="text-muted">
            <a routerLink="/login">{{ 'accounts.password-form.back-to-login-link' | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
