<div [style.width.px]="width" [style.height.px]="height - (success ? 85 : 50)">
  <div class="navbar">
    <ul class="nav justify-content-left">
    </ul>
      <ul class="nav justify-content-center icons" *ngIf="selectedProject">
      <li class="nav-item" [hidden]="status" *ngFor="let command of selectedProject.availableCommands">
        <a class="nav-link command" routerLink="" (click)="runCommand(command)" title="{{command.name}}">
          <i class="fa fas icon" [ngClass]="{'fa-play-circle': command.name === 'run', 'fa-hammer': command.name === 'build', 'fa-check': command.name === 'test'}"></i>
          <p>{{ command.name | translate }}</p>
        </a>
      </li>
      <li class="nav-item" [hidden]="status">
        <a class="nav-link command" routerLink="" (click)="resetProject()" title="{{ 'projects.workspace.reset-project' | translate }}">
          <i class="fas fa-times icon"></i>
          <p>{{ 'projects.workspace.reset-project' | translate }}</p>
        </a>
      </li>
      <li class="nav-item" [hidden]="status" *ngIf="!isHintVisible && selectedProject.hint">
        <a class="nav-link command" routerLink="" (click)="showHint()" title="{{ 'projects.workspace.show-hint' | translate }}">
          <i class="fas fa-question icon"></i>
          <p>{{ 'projects.workspace.show-hint' | translate }}</p>
        </a>
      </li>
      <li class="nav-item" [hidden]="status" *ngIf="isHintVisible && !isAnswerVisible">
        <a class="nav-link command" routerLink="" (click)="showSolution()" title="{{ 'projects.workspace.show-solution' | translate }}">
          <i class="fas fa-thumbs-up icon"></i>
          <p>{{ 'projects.workspace.show-solution' | translate }}</p>
        </a>
      </li>
        <li class="nav-item" [hidden]="status && product && currentElementIndex < product.elements.length">
          <a class="nav-link command" routerLink="" (click)="showNextElement($event)" title="{{ 'projects.workspace.show-next-element-button' | translate }}">
            <i class="fas fa-forward icon"></i>
            <p>{{ 'projects.workspace.show-next-element-button' | translate }}</p>
          </a>
        </li>
        <li class="nav-item" [hidden]="status">
          <a class="nav-link command" routerLink="" (click)="logout()" title="{{ 'projects.workspace.show-next-element-button' | translate }}">
            <i class="fas fa-sign-out-alt icon"></i>
            <p>{{ 'projects.workspace.logout-button' | translate }}</p>
          </a>
        </li>
      <li class="nav-item" [hidden]="!status">
         <span class="spinner-border"></span>
         <span class="status">{{status}}</span>
      </li>
    </ul>
    <ul class="nav justify-content-right">
    </ul>
  </div>

  <div class="result failure-result alert alert-secondary" *ngIf="failure">
    {{ 'projects.workspace.failure' | translate }}
  </div>
  <div class="result success-result alert alert-secondary" *ngIf="success">
    {{ 'projects.workspace.success' | translate }}
  </div>

  <div class="test-panel" *ngIf="testInstance">
    <div class="test-info">
      <span>{{ 'projects.workspace.question-number' | translate }}: {{ currentQuestionIndex }} / {{ testInstance.questions.length }}</span>
      <span>{{ 'projects.workspace.question-category' | translate }}: {{ testInstance.questions[questionArrayIndex].category }}</span>
    </div>

    <div class="question-text">
      <span>{{ testInstance.questions[questionArrayIndex].text }}</span>
    </div>

    <div class="answers" *ngIf="testInstance.questions[questionArrayIndex].questionType === 'SELECT'">

      <div class="answers custom-control custom-checkbox" *ngFor="let answer of testInstance.questions[questionArrayIndex].answers">
        <input id="answer-{{answer.id}}"  type="checkbox" class="custom-control-input" value="true" name="answer-{{answer.id}}" [(ngModel)]="answer.value">
        <label for="answer-{{answer.id}}" class="custom-control-label">{{ answer.text }}</label>
      </div>

    </div>

    <div class="mt-2" *ngIf="testInstance.questions[questionArrayIndex].questionType === 'FILL_IN'">
        <input name="answer-{{testInstance.questions[questionArrayIndex].id}}" class="form-control" [(ngModel)]="testInstance.questions[questionArrayIndex].answers[0].value">
    </div>

    <div class="test-buttons">
      <button class="btn btn-sm btn-secondary" *ngIf="currentQuestionIndex !== testInstance.questions.length" (click)="answerQuestion()">{{ 'projects.workspace.next-btn' | translate }}</button>
    </div>
  </div>
  <as-split direction="horizontal" [gutterSize]="gutterSize" *ngIf="ready">
    <as-split-area size="{{simpleLayout ? 10 : 10}}">
      <div class="files-title truncate" *ngIf="selectedProject">{{ 'projects.workspace.project' | translate }}</div>
      <div class="files scroll">
        <app-files-tree *ngIf="files" [items]="files" key="children"></app-files-tree>
      </div>
    </as-split-area>
    <as-split-area size="{{simpleLayout ? 45 : 50}}">
      <as-split direction="vertical" [gutterSize]="gutterSize">
        <as-split-area size="75">
          <div class="editor-wrapper">
            <div class="editor-title truncate" *ngIf="selectedProject">{{selectedFile.name}}</div>
            <ngx-monaco-editor [hidden]="!selectedProject" (onInit)="onInitEditor($event)" [options]="editorOptions"
                               [(ngModel)]="selectedFile.content" class="editor"></ngx-monaco-editor>
          </div>
        </as-split-area>
        <as-split-area size="25" [visible]="!simpleLayout">
          <div class="logs">
            <pre *ngFor="let log of logs">{{log.value}}</pre>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
    <as-split-area size="{{simpleLayout ? 45 : 40}}">
      <div class="description-title truncate" *ngIf="selectedProject">{{selectedProject.name}}</div>
      <div class="description">
        <p [innerHTML]="selectedProject?.description | safeHtml"></p>
      </div>
      <div class="hint" *ngIf="isHintVisible">
        <p [innerHTML]="selectedProject?.hint | safeHtml"></p>
      </div>
    </as-split-area>
  </as-split>
</div>
